{% extends "layout.html" %}

{% block title %}pixelbath - {{page_title}}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{page_title}}">

{% if description %}
<meta property="og:description" content="{{description}}">
{% endif %}

{% endblock %}

<h1>{{ page_title }}</h1>

{% block content %}
{% for post in posts %}
<article>
  <aside>
    <time>{{post['date'].strftime('%B %d, %Y')}}</time>
  </aside>
  <h2><a href="{{post.permalink}}">{{post.title}}</a></h2>
  {% if post.categories_list %}
  <p class="post-categories">
    Categories: {% for cat in post.categories_list %}<a href="/category/{{ cat.slug }}/">{{ cat.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
  </p>
  {% endif %}
  <content>
    {{post.content}}
  </content>
  {% if post.truncated %}<a class="button-std" href="{{post.permalink}}#more">Read more...</a>{% endif %}
  {% if post.tags_list %}
  <footer class="post-tags">
    Tags: {% for tag in post.tags_list %}<a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
  </footer>
  {% endif %}
</article>
{% endfor %}

<nav class="pagination">
  {% if prev_url %}<a class="button-std" href="{{ prev_url }}" class="newer">← Newer Posts</a>{% endif %}
  {% if next_url %}<a class="button-std" href="{{ next_url }}" class="older">Older Posts →</a>{% endif %}
</nav>
{% endblock %}
