<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="author" content="Michael Hoskins" />
<link rel="shortcut icon" href="https://www.pixelbath.com/favicon.png" />
<link rel="stylesheet" href="./static/pygments.css" />
<link rel="stylesheet" href="./static/style.css" />
<title>{% block title %}pixelbath{% endblock %}</title>

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" href="https://www.pixelbath.com/feed.xml" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Pixelbath is the personal website of Michael Hoskins, a designer specializing in design, visualization, video, and the code to create them all." />
<!-- Start Open Web Analytics Tracker -->
<!-- End Open Web Analytics Code -->

  {% block meta %}{% endblock %}
</head>
<body>
  <div class="container">

    {% block content %}{% endblock %}

    <footer>
    </footer>
  </div>

</body>
</html>
